.equipment-details-page {

    .basic-details {

        padding: 1.5rem;

        .left {
            text-align: center;
        }

        &__img {
            width: 100%;
            min-height: 300px;
            max-width: 500px;
            aspect-ratio: 4/3;
            object-fit: cover;
            border-radius: 20px;
        }

        &__basic-info {
            padding: 1rem;
            padding-bottom: 0;

            @media (max-width: 768px) {
                margin-top: 2rem;
            }
    
            .equipment-characteistic {
                margin-bottom: .7rem;
    
                h5 {
                    margin: 0;
                }
            }
        }
    }

    .equipment__accordion {
        margin-top: 2rem;

        .materials__new {
            align-items: center;
        }

        .accordion__link {
            margin-bottom: 10px;
        }
    }


    .actions {
        .icon {
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;
        }

        .fa-pen-to-square {
            color: #1e1abd;
        }

        .fa-trash {
            color: red;
        }
    }

}