.MaterialManagementDetail-page {

    .breadCrumbTitle {
        color: var(--bs-body-color);
    }

    .sidewaysCard {
        img {
            border: 2px solid var(--bs-border-color-translucent);
            box-shadow: -10px 7px 24px -4px rgba(0,0,0,0.16);
            border-radius: 10px;
            width: 100%;
        }
    }
}