.profile-page {

    .image-container {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
    }
    
    .image-profile {
        border: 8px solid #BD202F;
        border-radius: 50%;
        width: 100%;
        max-width: 200px;
    }

    .row:nth-child(2) {
        padding: 1rem 0;

        .form-floating {
            margin-bottom: 1rem;
        }
    }

    .row:nth-child(3) {

        .table, .alert {
            margin-top: 1.5rem;
        }
    }

    @import './message';
}