.accordion-body {
	padding-right: 0 !important;
	padding-left: 10px !important;
	padding-block: 0px !important;
}

.accordion,
.accordion-item,
.accordion-header {
	border-radius: 0px !important;
	border-block: 0px !important;
	border-inline-end: 0px !important;
}

.accordion-leaf {
	padding: 16px 20px 20px 20px !important;
}